{% extends "template.twig" %}

{% block title %}Chat{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Chat</h1>
    <div id="chat"></div>
    <form id="chatbox">
        <input type="text" name="input" id="input" title="input" />
        <input type="submit" />
    </form>
    <script>
        var conn = new WebSocket('ws://localhost:8080/arrows/1234/observer');
        conn.onerror = function(e) { console.log(e); };
        conn.onclose = function(e) { console.log(e); };
        conn.onmessage = function(e) {
            console.log(e.data);
            document.getElementById('chat').innerHTML += e.data + '<br/>';
        };
        conn.onopen = function (e) {
            console.log(e);
        };

        document.getElementById('chatbox').onsubmit = function (e) {
            conn.send(document.getElementById('input').value);
            document.getElementById('input').value = '';
            e.preventDefault();
        };
    </script>
{% endblock %}