{% extends "template.twig" %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Index</h1>
    <p>
        Welcome to my awesome homepage.
    </p>
    <ul>
        <li><a href="{{ path('user_list') }}">Users</a></li>
    </ul>
{% endblock %}
