{% extends "template.twig" %}

{% block title %}User - List{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>User</h1>
    <p>
        List
    </p>
{% endblock %}