{% extends "template.twig" %}

{% block title %}User - List{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Users</h1>

    <a href="{{ path('user_create') }}">New</a>

    {% if elements is not empty %}
    <ul>
        {% for user in elements %}
        <li>{{ user.userName }} <a href="{{ path('user_edit', { userId : user.id }) }}">edit</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No user here.</p>
    {% endif %}
{% endblock %}
