{% extends "template.twig" %}

{% block title %}Observer{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <form>
        <input type="button" id="start" value="start" style="display:none" />
    </form>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Preview</th>
                <th>Init</th>
                <th>Main</th>
                <th>Result</th>
                <th>Time (ms)</th>
            </tr>
        </thead>
        <tbody id="sequences">
        </tbody>
    </table>
    <script>
        var sequenceNumber;
        var sequenceLine;
        var sequenceTable = document.getElementById('sequences');

        var conn = new WebSocket('ws://localhost:8080/socket/{{ sessionId }}/observer?jwt={{ app.user.jwt }}');
        conn.onclose = function() { console.log('close'); };
        conn.onerror = function() { console.log('error'); };

        conn.onopen = function (e) {
            console.log('open');
            sequenceNumber = 0;
        };

        conn.onmessage = function(e) {
            var message = JSON.parse(e.data);
            var startButton = document.getElementById('start');

            console.log(message);

            switch (message.type) {
                case 'session.ready':
                    startButton.style.display = 'inline';
                    startButton.onclick = function () {
                        conn.send(JSON.stringify({
                            type: 'session.start'
                        }));
                    };
                    break;
                case 'session.sequence':
                    startButton.style.display = 'none';
                    sequenceNumber++;

                    sequenceLine = document.createElement('tr');
                    sequenceLine.id = 'session_'+sequenceNumber;
                    sequenceLine.innerHTML  = '<td>'+sequenceNumber+'</td>';
                    sequenceLine.innerHTML += '<td>'+message.previewOrientation+'</td>';
                    sequenceLine.innerHTML += '<td>'+message.initiationOrientation+'</td>';
                    sequenceLine.innerHTML += '<td>'+message.mainOrientation+'</td>';
                    sequenceLine.innerHTML += '<td class="result"></td>';
                    sequenceLine.innerHTML += '<td class="time"></td>';
                    sequenceTable.appendChild(sequenceLine);
                    break;
                case 'session.result':
                    sequenceLine.getElementsByClassName('result')[0].innerHTML = message.orientation;
                    sequenceLine.getElementsByClassName('time')[0].innerHTML = message.endingTime-message.startingTime;
                    break;
            }
        };
    </script>
{% endblock %}
