{% extends "template.twig" %}

{% block title %}Position Two{% endblock %}

{% block style %}
    {{ parent() }}
    #preview { display: block; width: 773px; height: 580px; margin:auto; }
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div id="preview">
        <img src="/img/sm-left.png" id="preview-left" style="display:none" />
        <img src="/img/sm-right.png" id="preview-right" style="display:none" />
    </div>
    <script>
        var conn = new WebSocket('ws://localhost:8080/socket/{{ sessionId }}/position2?jwt={{ app.user.jwt }}');
        conn.onopen = function (e) { console.log('open'); };
        conn.onclose = function(e) { console.log('close'); };
        conn.onerror = function(e) { console.log('error'); };

        conn.onmessage = function(e) {
            var message = JSON.parse(e.data);
            console.log(message);

            if (message.type == 'session.sequence') {
                var arrow = document.getElementById('preview-' + message.previewOrientation);
                arrow.style.display = 'block';

                setTimeout(function(){ arrow.style.display = 'none'; }, 5000);
            }
        };
    </script>
{% endblock %}